.Button {
  border-radius: 50%;
  border: 1px solid #f8f8f2;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  height: 32px;
  line-height:  28px;
  opacity: .5;
  text-align: center;
  transition: all .333s;
  width: 32px;
}
.Button:hover {
  opacity: 1 !important;
}
